<div class="action-btns">
  <button (click)="getUser()">Get Users</button>
</div>
<div>
  <div style="float:left;width:300px;">
    <h3>All Users</h3>
    <ul>
      <li *ngFor="let user of (users$ | async)?.allUsers">
        {{user.name.first}} {{user.name.last}}
      </li>
    </ul>
  </div>
  <div style="float:left;width:300px;">
    <h3>More Users</h3>
    <ul>
      <li *ngFor="let user of (users$ | async)?.moreUsers">
        {{user.name.first}} {{user.name.last}}
      </li>
    </ul>
  </div>
</div>
